<% 
	var locale = require('i18n!nls/locale');
%>
<div id="component_window_inner" class="component_window_inner_event">
    <div class="component_window_inner_tab" data-tab="basic">
        <div class="section">
            <label><%= locale.root.component_window.calendar.event_start %></label>
            <input data-mark="dateTimePicker" id="input_event_start" class="input" name="EVENT_START" value="<%= EVENT_START %>" readonly="readonly">
        </div>
        <div class="section">
            <label><%= locale.root.component_window.calendar.event_end %></label>
            <input data-mark="dateTimePicker" id="input_event_end" class="input" name="EVENT_END" value="<%= EVENT_END %>" readonly="readonly">
        </div>
        <div class="section">
            <label><%= locale.root.component_window.calendar.event_class %></label>
            <select id="select_event_class" class="select <%= EVENT_CLASS %>" name="EVENT_CLASS">
                <option value="fc-red" class="fc-red"<% if (EVENT_CLASS == 'fc-red') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_class_important_emergency %></option>
                <option value="fc-purple" class="fc-purple"<% if (EVENT_CLASS == 'fc-purple') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_class_important %></option>
                <option value="fc-yellow" class="fc-yellow"<% if (EVENT_CLASS == 'fc-yellow') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_class_emergency %></option>
                <option value="fc-gray" class="fc-gray"<% if (EVENT_CLASS == 'fc-gray') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_class_common %></option>
                <option value="fc-blue" class="fc-blue"<% if (EVENT_CLASS == 'fc-blue') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_class_personal %></option>
                <option value="fc-green" class="fc-green"<% if (EVENT_CLASS == 'fc-green') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_class_other %></option>
            </select>
        </div>
        <div class="section">
            <label><%= locale.root.component_window.calendar.event_permission %></label>
            <select id="select_event_permission" class="select" name="EVENT_PERMISSION">
                <option value="public"<% if (EVENT_PERMISSION == 'public') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_public %></option>
                <option value="private"<% if (EVENT_PERMISSION == 'private') { %> selected<% }; %>><%= locale.root.component_window.calendar.event_private %></option>
            </select>
        </div>
        <div class="section">
            <label><%= locale.root.component_window.calendar.event_owner %></label>
            <select id="select_event_owner" class="select" name="EVENT_OWNER">
                <% 
                    var users = app.instances.collections.users.toJSON();
                    for(var index in users) { 
                %>
                    <option value="<%= users[index].id %>"<% if (EVENT_OWNER == users[index].id) { %>selected<% } %>><%= users[index].name %> - <%= users[index].email %></option>
                <% } %>
            </select>
        </div>
    </div>
</div>
<div class="sidebar sidebar_event">
    <div class="section">
        <input name="EVENT_NAME" type="text" class="input" placeholder="<%= locale.root.component_window.calendar.event_name %>" value="<%= EVENT_NAME %>">
        <div id="editor_toolbar" style="display: none">
            <a data-wysihtml5-command="bold"><%= locale.root.component_window.calendar.event_toolbar_bold %></a>
            <a data-wysihtml5-command="italic"><%= locale.root.component_window.calendar.event_toolbar_italic %></a>
            <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1"><%= locale.root.component_window.calendar.event_toolbar_h1 %></a>
            <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><%= locale.root.component_window.calendar.event_toolbar_p %></a>
            <a data-wysihtml5-command="insertUnorderedList"><%= locale.root.component_window.calendar.event_toolbar_list_unordered %></a>
            <a data-wysihtml5-command="insertOrderedList"><%= locale.root.component_window.calendar.event_toolbar_list_ordered %></a>
        </div>
        <textarea style="visibility: hidden" id="editor" class="textarea" name="EVENT_INTRO" rows="5"><%= EVENT_INTRO %></textarea>
    </div>
    <div class="section">
        <input id="button_save_event" class="button" value="<%= locale.root.component_window.common.button_save %>" type="button">
        <% if (EVENT_NAME) { %>
        <input id="button_delete" class="button cancel" value="<%= locale.root.component_window.common.button_delete %>" type="button">
        <% }; %>
    </div>
</div>
