<div id="component_dialog">
    <div class="wrapper">
        <div class="main">
            <h1 class="title"><%= TITLE %></h1>
            <div class="message"><input id="callback_input" class="input" style="width: 60%; margin-left: -10px; margin-top: 8px;" value="<%= MESSAGE %>"></div>
            <div class="actions">
                <input id="component_dialog_true" class="button inline" value="<%= BUTTON_TRUE_TITLE %>" type="button">
                <input id="component_dialog_false" class="button inline cancel" value="<%= BUTTON_FALSE_TITLE %>" type="button">
            </div>
        </div>
    </div>
</div>